//
   Created by kaie on 2018/01/09.

doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        title Pugテスト
    body
        h1.sitettl PugTest
        main.main
            h2.content_ttl Nelifyのテスト
        footer test